<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectchessapp.projectchess" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.projectchessapp.projectchess.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.PlayerSearch"
            android:label="@string/title_activity_player_search" >
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.MoveSearch"
            android:label="@string/title_activity_move_search" >
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.ProfileDetail"
            android:label="@string/title_activity_profile_detail" >
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.GameDetail"
            android:label="@string/title_activity_game_detail" >
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.ProfileList"
            android:label="@string/title_activity_profile_list" >
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.GameList"
            android:label="@string/title_activity_game_list" >
        </activity>
        <activity
            android:name="com.projectchessapp.projectchess.CompareGame"
            android:label="@string/title_activity_compare_game" >
        </activity>
    </application>

</manifest>
